html,body,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,del,em,img,small,u,center,dl,dt,dd,ol,ul,li,form,label,table,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; font-size:100%; font:inherit; }

* { box-sizing:border-box; }
html, body  {  min-width: 360px;  }
a img { border:0; }
ol,ul { list-style:none; }
input { margin:0; border:0; outline:none; }
table { border-collapse:collapse; border-spacing:0; }
::-ms-clear { display:none; }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { opacity:1; }
input::-moz-placeholder,textarea:-moz-placeholder { opacity:1; }
input:-ms-input-placeholder,textarea:-ms-input-placeholder { opacity:1; }
.btn-order { position:relative; z-index:1; display:inline-block; width:245px; height:62px; line-height:62px; text-align:center; background:url(../img/bg_btn_order.png) no-repeat; font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:30px; text-shadow:-1px -1px 1px rgba(0,0,0,0.3); text-decoration:none; text-transform:uppercase; color:#fff; }
.btn-submit { display:block; width:290px; height:62px; line-height:62px; text-align:center; background:url(../img/bg_btn_submit.png) no-repeat; font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:30px; text-shadow:-1px -1px 1px rgba(0,0,0,0.3); text-decoration:none; text-transform:uppercase; color:#fff; cursor:pointer; }
body { background:url(../img/bg_head.jpg) 50% 0 no-repeat #000; height:100%; font-family:'pf_square_sans_proregular','Myriad Pro',Arial; font-size:18px; line-height:1; }
.head { position:relative; width:960px; height:980px; margin:0 auto; padding-top:60px; color:#fff; background:url(../img/Untitled-1.png)0 65px no-repeat; }
.product { position:absolute; left:33px; bottom:0; }
.head .logo { float:left; }
.head .title { position:absolute; top:245px; left:0; padding:10px 0 15px 22px; border-left:3px solid #fd4f18; }
.head .slogan { height:43px; float:right; text-align:right; padding-right:18px; margin-top:8px; border-right:3px solid #fd4f18; line-height:20px; }
.head .category { font-size:40px; }
.head .brand { font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:80px; padding:20px 0 15px; }
.head .brand span { color:#ff4e08; }
.head .application { font-size:24px; }
.head .features { height:215px; background:url(../img/ico_features.jpg) no-repeat; position:absolute; top:600px; left:-20px; padding:20px 0 0 70px; }
.head .features div { margin-bottom:40px; }
.head .features span { font-family:'pf_square_sans_probold','Myriad Pro',Arial; }
.head .order { font-size:18px; text-align:center; position:absolute; top:645px; right:0; }
.head .order .topic { font-size:24px; font-family:'pf_square_sans_probold','Myriad Pro',Arial; padding-bottom:5px; }
.head .order .price { padding:20px 0 40px; }
.head .order .current { font-size:30px; padding-left:5px; font-family:'pf_square_sans_promedium','Myriad Pro',Arial; }
.head .order .old { text-decoration:line-through; }
.main { background:url(../img/bg_main.png) 50% 0 no-repeat; margin-top:-62px; }
.main .content { width:960px; height:1303px; margin:0 auto; padding-top:130px; }
.main .content .title { width:695px; font-family:'pf_square_sans_promedium','Myriad Pro',Arial; font-size:40px; text-align:center; position:relative; margin:0 auto; text-transform:uppercase; }
.main .content .title:before { content:''; display:block; width:100%; height:3px; position:absolute; top:47px; left:0; background:#ff4e08; }
.main .content .title span { display:inline-block; width:272px; font-family:'pf_square_sans_probold','Myriad Pro',Arial; background:#f6f6f6; position:relative; }
.main .content .graph { text-align:center; padding:40px 0 20px; }
.main .content .useful_properties .item { height:130px; padding:40px 0 0 145px; margin-top:-10px; }
.main .content .useful_properties .item:nth-child(even) { margin-left:170px; }
.main .content .useful_properties .topic { font-family:'pf_square_sans_probold','Myriad Pro',Arial; text-transform:uppercase; font-size:18px; margin-bottom:15px; }
.main .content .useful_properties .ico-1 { background:url(../img/ico_1.png) no-repeat; }
.main .content .useful_properties .ico-2 { background:url(../img/ico_2.png) no-repeat; }
.main .content .useful_properties .ico-3 { background:url(../img/ico_3.png) no-repeat; }
.main .content .useful_properties .ico-4 { background:url(../img/ico_4.png) no-repeat; }
.main .content .useful_properties .ico-5 { background:url(../img/ico_5.png) no-repeat; }
#slides img{
    max-width: 100%;

}
.you-need { background:url(../img/bg_you_need.jpg) no-repeat center; height:500px; border-bottom:3px solid #ff4e08; }
.you-need .content { width:960px; margin:0 auto; padding-top:65px; }
.you-need .content .title { width:576px; font-family:'pf_square_sans_promedium','Myriad Pro',Arial; font-size:40px; text-align:center; position:relative; margin:0 auto; text-transform:uppercase; color:#fff; }
.you-need .content .title:before { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; left:0; background:#ff4e08; }
.you-need .content .title:after { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; right:0; background:#ff4e08; }
.you-need .content .title span { display:block; font-family:'pf_square_sans_probold','Myriad Pro',Arial; position:relative; }
.you-need .content .items { overflow:hidden; color:#fff; margin-top:45px; }
.you-need .content .items div { float:left; height:90px; width:50%; padding:25px 0 0 100px; margin-bottom:25px; }
.you-need .content .items .ico_1 { background:url(../img/ico_6.png) no-repeat; }
.you-need .content .items .ico_2 { background:url(../img/ico_7.png) no-repeat; }
.you-need .content .items .ico_3 { background:url(../img/ico_8.png) no-repeat; }
.you-need .content .items .ico_4 { background:url(../img/ico_9.png) no-repeat; }
.form-order { background:url(../img/bg_form_order.jpg) no-repeat; height:500px;background-position-x: center; }
.form-order .content { width:960px; margin:0 auto; color:#fff; padding-top:50px; text-align:center; }
.form-order .title { font-family:'pf_square_sans_promedium','Myriad Pro',Arial; font-size:40px; margin-bottom:40px; text-transform:uppercase; }
.form-order .title span { font-family:'pf_square_sans_probold','Myriad Pro',Arial; display:block; }
.form-order .column-left { display:inline-block; width:210px; vertical-align:top; margin:0 60px 0 45px; }
.form-order .column-right { display:inline-block; width:290px; vertical-align:top; }
.form-order form { }
.form-order .price { margin-bottom:20px; }
.form-order .old { font-size:18px; text-decoration:line-through; }
.form-order .current { font-family:'pf_square_sans_promedium','Myriad Pro',Arial; font-size:30px; }
.form-order .btn-submit { }
input[type=text], select { display:block; width:100%; height:46px; line-height:46px; background: rgba(255,255,255,.9); border-radius:3px; margin-bottom: 10px; text-align:center; font-size:18px; text-align: left; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; }
.errField  { display:none; font-size: 14px; background: rgba(255,0,0,.8); color: #fff; text-align: center; padding: 10px; border-radius: 3px; margin-bottom: 10px; }
.timer_wrap { font-size:15px; }
.timer_wrap .timer { display:inline-block; overflow:hidden; margin-top:8px; }
.timer_wrap .item { width:60px; height:60px; display:block; float:left; line-height:60px; text-align:center; font-size: 36px; background:#ff4e08; border-radius:3px; color:#090909; }
.timer_wrap .item:first-child { background:none; border:2px solid #fff; color:#fff; margin-right:14px; }
.timer_wrap .item:last-child { margin-left:14px; }
.timer_wrap .day { display:block; float:left; width:60px; margin-right:14px; }
.timer_wrap .min { display:block; float:left; width:60px; }
.timer_wrap .sec { display:block; float:left; width:60px; margin-left:14px; }
.method-preparing { background:url(../img/bg_brick.jpg); height:500px; }
.method-preparing .content { width:960px; margin:0 auto; padding-top:65px; }
.method-preparing .title { width:580px; font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:40px; text-align:center; position:relative; margin:0 auto 5px; text-transform:uppercase; }
.method-preparing .title:before { content:''; display:block; width:150px; height:3px; position:absolute; top:46px; left:0; background:#ff4e08; }
.method-preparing .title:after { content:''; display:block; width:150px; height:3px; position:absolute; top:46px; right:0; background:#ff4e08; }
.method-preparing .title span { display:block; font-family:'pf_square_sans_promedium','Myriad Pro',Arial; position:relative; }
.method-preparing .item { background:url(../img/ico_10.png) no-repeat; padding:35px 0 0 170px; }
.method-preparing p { margin-bottom:45px; }
.method-preparing th { font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:15px; text-transform:uppercase; text-align:left; padding-bottom:30px; }
.method-preparing td { padding-bottom:10px; font-size:15px; }
.method-preparing table span { display:inline-block; border-bottom:1px dotted #a2a2a2; float:right; margin:8px 8px 0 0; }
.method-preparing .line-width-1 { width:132px; }
.method-preparing .line-width-2 { width:257px; }
.method-preparing .line-width-3 { width:257px; }
.method-preparing .line-width-4 { width:232px; }
.reviews { background:url(../img/bg_reviews.jpg); height:538px; }
.reviews .content { width:960px; margin:0 auto; padding-top:65px; }
.reviews .title { width:500px; font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:40px; text-align:center; position:relative; margin:0 auto 5px; text-transform:uppercase; color:#fff; }
.reviews .title:before { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; left:0; background:#ff4e08; }
.reviews .title:after { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; right:0; background:#ff4e08; }
.working { background:url(../img/bg_brick.jpg); min-height: 550px; }
.working .content { width:960px; margin:0 auto; padding-top:65px; }
.working .title { width:696px; font-family:'pf_square_sans_probold','Myriad Pro',Arial; font-size:40px; text-align:center; position:relative; margin:0 auto 40px; text-transform:uppercase; }
.working .title:before { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; left:0; background:#ff4e08; }
.working .title:after { content:''; display:block; width:150px; height:3px; position:absolute; top:28px; right:0; background:#ff4e08; }
.working .items { overflow:hidden; text-align:center; }
.working .item { float:left; width:150px; margin-left:52px; }
.working .item:first-child { margin:0; }
.working img { margin-bottom:25px; }
.workcase  { width: 100%; float: left; text-align: center; padding: 20px 0; }
.footer { font-size:14px; text-align:center; padding:20px 0; color:#6C6E6F; }
.footer p { width:100%; text-align:center; padding:0; margin:0; }
.footer br { display:none; }
.footer img { margin:10px auto!important; }
.footer a { color:#6C6E6F; text-decoration:none; }
.footer a:hover { color:#FF0069; text-decoration:none; }
.delivery { font-weight:700; }

@media screen and (max-width:959px)  { 
    .wrapper { width:768px; margin:0 auto; }
    .head,.main .content,.you-need .content,.form-order .content,.method-preparing .content,.reviews .content,.working .content { width:auto; }
    .head .order { z-index:1; }
    #slides .comment { width:300px; height:auto; }
    #slides .slide { width:275px; margin:auto; height:auto; left:0; right:0; }
    #slides .picture { float:none; }
    .slidesContainer { margin:0 auto; }
    .reviews { height:auto; padding-bottom:50px; }
    #slides { width:768px; }
    #slides .slidesNext,#slides .slidesPrevious { left:0; }
    #slides .slidesNext { left:auto; right:0; }
    .product { width:660px; }
    .working .item:last-child { display:none; }
    .slidesContainer { height:761px!important; }
}

@media screen and (max-width:767px)  { 
    .wrapper { width:540px; margin:0 auto; }
    #slides { width:540px; }
    .product { width:300px; left:120px; }
    .head .slogan,.head .application,.head .features div,.head .order .topic,.main .content .useful_properties .topic,.you-need .content .items >div { font-size:25px; line-height:30px; }
    .you-need .content .items >div { margin-bottom:10px; }
    .you-need .content .title,.method-preparing .title,.working .title, { width:auto; }
    #slides { width:320px; }
    .method-preparing { height:auto; }
    table,.you-need .content .title:after,.you-need .content .title:before { display:none; }
    .method-preparing .item { background:none; padding:5px 10px; }
    .head { height:1065px; background-position: 0 20px; }
    .main .content .graph img { max-width:100%; }
    .head .features div { margin-bottom:8px; }
    .main .content .title,.working .title,.method-preparing .title,.you-need .content .title,.reviews .title { width:auto; }
    .main .content .title:before { top:100px; }
    .main .content .useful_properties .item { padding:0 0 0 150px; margin-bottom:25px; }
    .main .content .useful_properties .item:nth-child(even) { margin:0 0 25px; }
    .main .content,.you-need .content .items div,.you-need,.form-order,.working { height:auto; }
    .main { background-size:100% 100%; padding-bottom:20px; }
    .main .content .useful_properties .item { height:auto; }
    .main .content .useful_properties .item { margin-top:0; }
    .item p { font-size:25px; }
    .working .items .item { margin:0; margin-right:52px; margin-bottom:10px; }
    .working .items { margin-left:90px; }
    .working .items .item:nth-child(even) { margin-right:0; }
    #slides .comment { font-size:30px; }
    .slidesContainer { height:1456px!important; }
    .method-preparing .title:after,.method-preparing .title:before,.working .title:before,.working .title:after { display:none; }
}

@media screen and (max-width:539px)  { 
    .wrapper { width:320px; margin:0 auto; }
    .head .order { top:867px; right:26px; }
    .product,.main .content .title:before,.reviews .title:before,.reviews .title:after { display:none; }
    .main .content .title { margin:57px auto 0; }
    .main { background:#fff; }
    .main .content .useful_properties .item { padding:0 10px; background:none; }
    .you-need .content .items div[class^=ico_] { background:none; float:none; margin:0 auto; padding:0; margin-bottom:10px; width:auto; padding:0 10px; }
    .head .brand span {font-size: 58px;}
}
